# Python
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Uploaded files url
uploads/

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Alembic
alembic/versions/*.pyc

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store